<% provide(:title, "About") %>
<h1>About</h1>
<p><strong>RoR Contacts</strong> is a web application developed as a sample for learn <em>Ruby on Rails</em>.</p>
<p>You can fork this project at <a href="https://github.com/jfmdev/rorContacts" target="_blank">GitHub</a></p>
