<% provide(:title, "Edit user") %>

<h1 class="text-center">Editing User</h1>

<%= render 'form', user: @user %>

<br>

<div class="row">
  <div class="col-sm-6 text-right">
    <%= link_to 'Back', users_path, :class => "btn btn-default" %>
  </div>
  <div class="col-sm-6 text-left">
    <%= link_to 'Show', @user, :class => "btn btn-primary" %>
  </div>
</div>
