<% provide(:title, "Edit contact") %>

<h1 class="text-center">Editing Contact</h1>

<%= render 'form', contact: @contact %>

<br>

<div class="row">
  <div class="col-sm-6 text-right">
    <%= link_to 'Back', contacts_path, :class => "btn btn-default" %>
  </div>
  <div class="col-sm-6 text-left">
    <%= link_to 'Show', @contact, :class => "btn btn-primary" %>
  </div>
</div>
